@import "tailwindcss";

@source '../views';
@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';

@theme {
    --font-sans: "Roboto Condensed", ui-sans-serif, system-ui, sans-serif,
        "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
        "Noto Color Emoji";
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type="number"] {
    -moz-appearance: textfield;
}

body {
    @apply bg-cover bg-center;  /* Tailwind utilities */
    background-image: url('/public/images/bg-main.svg') !important;
    background-repeat: no-repeat;
    background-attachment: fixed; /* opcjonalnie */
}

.bg-editor{
    background-image: url('/public/images/bg-editor.svg') !important;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}